body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: block;
  background-image: url("images/one.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  cursor: url("images/juni.png"), auto;
}

.contain {
  height: 100px;
  width: 100px;
}

.clickable {
  filter: brightness(95%) drop-shadow(2px 4px 2px);
}

.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(0.3px 0.7px 2px);
}

.clickable:active {
  filter: drop-shadow(0px 2px 1px);
  transform: scale(0.98);
}
